@model DI.Core.UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>UserManager</h4>
<hr />
<div class="row">
    <div class="col-md-4">
                  <form asp-action="ChangePassword" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>Send Notification By : </div>
                <select name="notificationtype">
                    <option value="email">Email</option>
                    <option value="sms">SMS</option>
                    <option value="popup">Pop-up</option>
                </select>
                <div class="form-group">
                    <input type="submit" value="Change Password" class="btn btn-primary" />
                </div>
            </form>
        </div>
</div>

<div>
    @ViewBag.Success
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
